html,
body {
  background-color: #222222;
  font-family: monospace;
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#wrapper {
  /*height: 100%;*/
  flex: 1 1 auto;
  overflow: hidden;
}

.controls {
  top: 16px;
  left: 16px;
  background: #f8f8f8;
  flex: 0 0 165px;
  overflow: auto;
  padding: 0.5rem;
}

.controls > * + * {
  margin-top: 1rem;
}

.controls select {
  width: 148px;
}

.tooltip {
  position: absolute;
  background-color: white;
  margin: 0px 5px 0px 5px;
}

.stream.active {
  fill: #eeb66d;
}

.loader {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.spinner {
  border: solid #f3f3f3; /* Light grey */
  border-top: solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
