<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>SplitStream Generator</title>

  <style>
    #wrapper {
      display: flex;
      flex-direction: column;
    }

    .streamContainer {
      height: 33vh;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="controls">
      <div id='download'>
        <button v-on:click='download'>Download</button>
      </div>
      <br>
      <div>
        <label><b>Color:</b></label>
        <br>
        <select v-model="color.value">
          <option v-for="option in color.options" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>
      <div>
        <input type="checkbox" id="secstreamSplits" v-model="secstreamSplits">
        <label for="secstreamSplits">Split between timestep</label>
      </div>
      <div>
        <label><b>Timesteps:</b> {{timesteps}}</label>
        <br>
        <input type="range" v-model="timesteps" step="1" min="1" max="10" />
      </div>
      <div>
        <label><b>Num Streams:</b> {{numStreams}}</label>
        <br>
        <input type="range" v-model="numStreams" step="1" min="1" max="30" />
      </div>
      <!-- <div>
                    <label><b>Max Depth:</b> {{maxDepth}}</label>
                    <br>
                    <input type="range" v-model="maxDepth" step= "1" min="0" max="10" />
                </div>
                <div>
                    <label><b>Max Children:</b> {{maxChildren}}</label>
                    <br>
                    <input type="range" v-model="maxChildren" step= "1" min="0" max="10" />
                </div> -->
      <div>
        <label><b>Num Move Across:</b> {{numMoveAcross}}</label>
        <br>
        <input type="range" v-model="numMoveAcross" step="1" min="0" max="10" />
      </div>
      <div>
        <label><b>Num Move Along:</b> {{numMoveAlong}}</label>
        <br>
        <input type="range" v-model="numMoveAlong" step="1" min="0" max="10" />
      </div>
      <div>
        <label><b>Num Adds:</b> {{numAdds}}</label>
        <br>
        <input type="range" v-model="numAdds" step="1" min="0" v-bind:max="numStreams" />
      </div>
      <div>
        <label><b>Num Deletes:</b> {{numDeletes}}</label>
        <br>
        <input type="range" v-model="numDeletes" step="1" min="0" v-bind:max="numStreams" />
      </div>
      <!-- <div>
                    <label><b>Num Merges:</b> {{numMerges}}</label>
                    <br>
                    <input type="range" v-model="numMerges" step= "1" min="0" max="10" />
                </div>
                <div>
                    <label><b>Num Splits:</b> {{numSplits}}</label>
                    <br>
                    <input type="range" v-model="numSplits" step= "1" min="0" max="10" />
                </div> -->
      <div>
        <label><b>Value Range:</b> {{maxValue}}</label>
        <br>
        <input type="range" v-model="maxValue" step="0.1" min="1" max="100" />
      </div>

      <div>
        <button id='generate' v-on:click="generate">Generate</button>
      </div>
    </div>

    <div id='wrapper'>
      <div id='treemap' class='streamContainer'></div>
      <div id='stream' class='streamContainer'></div>
      <div id='secstream' class='streamContainer'></div>
      <resize-observer @notify='wrapperResize' />
    </div>
  </div>
</body>
<script type="text/javascript" src="bundle_generator.js"></script>

</html>