<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>SecStream Generator</title>
	
    <link type="text/css" rel="stylesheet" href="libs/vue-resize/dist/vue-resize.css" media="screen"/>
	<link type="text/css" rel="stylesheet" href="css/style.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="css/SecStream.css" media="screen"/>

    <style>
        #wrapper {
            display: flex;
            flex-direction: column;
        }
        .streamContainer {
            flex-basis: 100%
        }
     </style>

    <!-- libraries-->
    <script type="text/javascript" src="libs/vue.js"></script>
    <script type="text/javascript" src="libs/vue-resize/dist/vue-resize.min.js"></script>
	<script type="text/javascript" src="libs/d3_5.7.0.js"></script>
	
	<!-- modules -->
    <script type="text/javascript" src="js/SvgPath.js"></script>
    <script type="text/javascript" src="js/SecStreamData.js"></script>
    <script type="text/javascript" src="js/SecStream.js"></script>
    <script type="text/javascript" src="js/DataGenerator.js"></script>
	
    <!-- general -->
	<script type="text/javascript" src="js/functions.js"></script>
	<script type="text/javascript" src="examples.js"></script>
</head>
<body>
    <div id="app">
            <div class="controls">
                <div id='download'>
                    <button v-on:click='download'>Download</button>
                </div>
                <br>
                <div>
                    <label><b>Color:</b></label>
                    <br>
                    <select v-model="color.value">
                        <option v-for="option in color.options" v-bind:value="option.value">
                        {{ option.text }}
                        </option>
                    </select>
                </div>
                <div>
                    <input type="checkbox" id="secstreamSplits" v-model="secstreamSplits">
                    <label for="secstreamSplits">Split between timestep</label>
                </div>
                <div>
                    <label><b>Timesteps:</b> {{timesteps}}</label>
                    <br>
                    <input type="range" v-model="timesteps" step= "1" min="2" max="10" />
                </div>
                <div>
                    <label><b>Num Streams:</b> {{numStreams}}</label>
                    <br>
                    <input type="range" v-model="numStreams" step= "1" min="1" max="100" />
                </div>
                <!-- <div>
                    <label><b>Max Depth:</b> {{maxDepth}}</label>
                    <br>
                    <input type="range" v-model="maxDepth" step= "1" min="0" max="10" />
                </div>
                <div>
                    <label><b>Max Children:</b> {{maxChildren}}</label>
                    <br>
                    <input type="range" v-model="maxChildren" step= "1" min="0" max="10" />
                </div> -->
                <div>
                    <label><b>Num Merges:</b> {{numMerges}}</label>
                    <br>
                    <input type="range" v-model="numMerges" step= "1" min="0" max="10" />
                </div>
                <div>
                    <label><b>Num Splits:</b> {{numSplits}}</label>
                    <br>
                    <input type="range" v-model="numSplits" step= "1" min="0" max="10" />
                </div>
                <div>
                    <label><b>Num Move Across:</b> {{numMoveAcross}}</label>
                    <br>
                    <input type="range" v-model="numMoveAcross" step= "1" min="0" max="10" />
                </div>
                <div>
                    <label><b>Num Move Along:</b> {{numMoveAlong}}</label>
                    <br>
                    <input type="range" v-model="numMoveAlong" step= "1" min="0" max="10" />
                </div>
                <div>
                    <label><b>Num Adds:</b> {{numAdds}}</label>
                    <br>
                    <input type="range" v-model="numAdds" step= "1" min="0" max="10" />
                </div>
                <div>
                    <label><b>Num Deletes:</b> {{numDeletes}}</label>
                    <br>
                    <input type="range" v-model="numDeletes" step= "1" min="0" max="10" />
                </div>
                <div>
                    <button id='generate' v-on:click="generate">Generate</button>
                </div>
            </div>

            <div id='wrapper'>
                <div id='treemap' class='streamContainer'>
                    <resize-observer @notify='treemapResize'/>
                </div>
                <div id='stream' class='streamContainer'>
                    <resize-observer @notify='streamResize'/>
                </div>
                <div id='secstream' class='streamContainer'>
                    <resize-observer @notify='secstreamResize'/>
                </div>
            </div>
    </div>

    <script>
        var stream;
        var treemap;
        var secstream;

        const generator = DataGenerator();

        document.addEventListener("DOMContentLoaded", function(event)
        {
            let app = new Vue({
                el: '#app',
                data: {
                    color: {
                        value: 'interpolateBlues',
                        options: [
                            { value: 'random', text: 'random' },
                            { value: 'schemeCategory10', text: 'schemeCategory10' },
                            /* { value: 'schemeAccent', text: 'schemeAccent' },
                            { value: 'schemeDark2', text: 'schemeDark2' },
                            { value: 'schemePaired', text: 'schemePaired' },
                            { value: 'schemePastel1', text: 'schemePastel1' },
                            { value: 'schemePastel2', text: 'schemePastel2' },
                            { value: 'schemeSet1', text: 'schemeSet1' },
                            { value: 'schemeSet2', text: 'schemeSet2' },
                            { value: 'schemeSet3', text: 'schemeSet3' }, */
                            { value: 'interpolateBlues', text: 'interpolateBlues' },
                            /* { value: 'interpolateGreens', text: 'interpolateGreens' },
                            { value: 'interpolateGreys', text: 'interpolateGreys' },
                            { value: 'interpolateOranges', text: 'interpolateOranges' },
                            { value: 'interpolatePurples', text: 'interpolatePurples' },
                            { value: 'interpolateReds', text: 'interpolateReds' },
                            { value: 'interpolateViridis', text: 'interpolateViridis' },
                            { value: 'interpolateInferno', text: 'interpolateInferno' },
                            { value: 'interpolateMagma', text: 'interpolateMagma' },
                            { value: 'interpolatePlasma', text: 'interpolatePlasma' },
                            { value: 'interpolateWarm', text: 'interpolateWarm' },
                            { value: 'interpolateCool', text: 'interpolateCool' },
                            { value: 'interpolateCubehelixDefault', text: 'interpolateCubehelixDefault' },
                            { value: 'interpolateBuGn', text: 'interpolateBuGn' },
                            { value: 'interpolateBuPu', text: 'interpolateBuPu' },
                            { value: 'interpolateGnBu', text: 'interpolateGnBu' },
                            { value: 'interpolateOrRd', text: 'interpolateOrRd' },
                            { value: 'interpolatePuBuGn', text: 'interpolatePuBuGn' },
                            { value: 'interpolatePuBu', text: 'interpolatePuBu' },
                            { value: 'interpolatePuRd', text: 'interpolatePuRd' },
                            { value: 'interpolateRdPu', text: 'interpolateRdPu' },
                            { value: 'interpolateYlGnBu', text: 'interpolateYlGnBu' },
                            { value: 'interpolateYlGn', text: 'interpolateYlGn' },
                            { value: 'interpolateYlOrBr', text: 'interpolateYlOrBr' },
                            { value: 'interpolateYlOrRd', text: 'interpolateYlOrRd' }, */
                        ]
                    },
                    secstreamSplits: true,

                    timesteps: 5,
                    numStreams: 10,
                    maxDepth: 0,
                    maxChildren: 0,
                    numMerges: 0,
                    numSplits: 0,
                    numMoveAcross: 1,
                    numMoveAlong: 4,
                    numAdds: 3,
                    numDeletes: 3,
                },
			    watch: {
                    timesteps: function(val) {
                        generator.options({ timesteps: val });
                        this.draw();
                        this.applySplits(this.secstreamSplits);
                    },
                    numStreams: function(val) {
                        generator.options({ numStreams: val });
                        this.draw();
                    },
                    maxDepth: function(val) {
                        generator.options({ maxDepth: val });
                        this.draw();
                    },
                    maxChildren: function(val) {
                        generator.options({ maxChildren: val });
                        this.draw();
                    },
                    numMerges: function(val) {
                        generator.options({ numMerges: val });
                        this.draw();
                    },
                    numSplits: function(val) {
                        generator.options({ numSplits: val });
                        this.draw();
                    },
                    numMoveAcross: function(val) {
                        generator.options({ numMoveAcross: val });
                        this.draw();
                    },
                    numMoveAlong: function(val) {
                        generator.options({ numMoveAlong: val });
                        this.draw();
                    },
                    numgenerators: function(val) {
                        generator.options({ numStreams: val });
                        this.draw();
                    },
                    numAdds: function(val) {
                        generator.options({ numAdds: val });
                        this.draw();
                    },
                    numDeletes: function(val) {
                        generator.options({ numDeletes: val });
                        this.draw();
                    },
                    color: {
                        handler: function(color) {
                            stream.colorRandom = false;
                            treemap.colorRandom = false;
                            secstream.colorRandom = false;
                            switch (color.value) {
                                case 'random':
                                    stream.colorRandom = true;
                                    treemap.colorRandom = true;
                                    secstream.colorRandom = true;
                                    break;							
                                case 'schemeCategory10':
                                    this.applyColor(d3.scaleOrdinal(d3.schemeCategory10));
                                    break;
                                case 'schemeAccent':
                                    this.applyColor(d3.scaleOrdinal(d3.schemeAccent));
                                    break;
                                case 'schemeDark2':
                                    this.applyColor(d3.scaleOrdinal(d3.schemeDark2));
                                    break;
                                case 'schemePaired':
                                    this.applyColor(d3.scaleOrdinal(d3.schemePaired));
                                    break;
                                case 'schemePastel1':
                                    this.applyColor(d3.scaleOrdinal(d3.schemePastel1));
                                    break;
                                case 'schemePastel2':
                                    this.applyColor(d3.scaleOrdinal(d3.schemePastel2));
                                    break;
                                case 'schemeSet1':
                                    this.applyColor(d3.scaleOrdinal(d3.schemeSet1));
                                    break;
                                case 'schemeSet2':
                                    this.applyColor(d3.scaleOrdinal(d3.schemeSet2));
                                    break;
                                case 'schemeSet3':
                                    this.applyColor(d3.scaleOrdinal(d3.schemeSet3));
                                    break;
                                case 'interpolateBlues':
                                    this.applyColor(d3.scaleSequential(d3.interpolateBlues));
                                    break;
                                case 'interpolateGreens':
                                    this.applyColor(d3.scaleSequential(d3.interpolateGreens));
                                    break;
                                case 'interpolateGreys':
                                    this.applyColor(d3.scaleSequential(d3.interpolateGreys));
                                    break;
                                case 'interpolateOranges':
                                    this.applyColor(d3.scaleSequential(d3.interpolateOranges));
                                    break;
                                case 'interpolatePurples':
                                    this.applyColor(d3.scaleSequential(d3.interpolatePurples));
                                    break;
                                case 'interpolateReds':
                                    this.applyColor(d3.scaleSequential(d3.interpolateReds));
                                    break;
                                case 'interpolateViridis':
                                    this.applyColor(d3.scaleSequential(d3.interpolateViridis));
                                    break;
                                case 'interpolateInferno':
                                    this.applyColor(d3.scaleSequential(d3.interpolateInferno));
                                    break;
                                case 'interpolateMagma':
                                    this.applyColor(d3.scaleSequential(d3.interpolateMagma));
                                    break;
                                case 'interpolatePlasma':
                                    this.applyColor(d3.scaleSequential(d3.interpolatePlasma));
                                    break;
                                case 'interpolateWarm':
                                    this.applyColor(d3.scaleSequential(d3.interpolateWarm));
                                    break;
                                case 'interpolateCool':
                                    this.applyColor(d3.scaleSequential(d3.interpolateCool));
                                    break;
                                case 'interpolateCubehelixDefault':
                                    this.applyColor(d3.scaleSequential(d3.interpolateCubehelixDefault));
                                    break;
                                case 'interpolateBuGn':
                                    this.applyColor(d3.scaleSequential(d3.interpolateBuGn));
                                    break;
                                case 'interpolateBuPu':
                                    this.applyColor(d3.scaleSequential(d3.interpolateBuPu));
                                    break;
                                case 'interpolateGnBu':
                                    this.applyColor(d3.scaleSequential(d3.interpolateGnBu));
                                    break;
                                case 'interpolateOrRd':
                                    this.applyColor(d3.scaleSequential(d3.interpolateOrRd));
                                    break;
                                case 'interpolatePuBuGn':
                                    this.applyColor(d3.scaleSequential(d3.interpolatePuBuGn));
                                    break;
                                case 'interpolatePuBu':
                                    this.applyColor(d3.scaleSequential(d3.interpolatePuBu));
                                    break;
                                case 'interpolatePuRd':
                                    this.applyColor(d3.scaleSequential(d3.interpolatePuRd));
                                    break;
                                case 'interpolateRdPu':
                                    this.applyColor(d3.scaleSequential(d3.interpolateRdPu));
                                    break;
                                case 'interpolateYlGnBu':
                                    this.applyColor(d3.scaleSequential(d3.interpolateYlGnBu));
                                    break;
                                case 'interpolateYlGn':
                                    this.applyColor(d3.scaleSequential(d3.interpolateYlGn));
                                    break;
                                case 'interpolateYlOrBr':
                                    this.applyColor(d3.scaleSequential(d3.interpolateYlOrBr));
                                    break;
                                case 'interpolateYlOrRd':
                                    this.applyColor(d3.scaleSequential(d3.interpolateYlOrRd));
                                    break;
                                default:
                                    this.applyColor(d3.scaleSequential(d3.interpolateBlues));
                            }
                        },
                        deep: true
                    },
                    secstreamSplits: function(between) {
				        this.applySplits(between);
                    }
                },
                methods: {
                    applySplits: function(between) {
                        secstream.removeSplits();
                        if (between)
                            secstream.addSplitsBetweenTimepoints();
                        else
                            secstream.addSplitsAtTimepoints();

                        secstream.update();
                    },
                    applyColor: function(colorFunction) {
                        stream.color = colorFunction;
                        treemap.color = colorFunction;
                        secstream.color = colorFunction;
                    },
                    generate: function() {
                        generator.options({
                            timesteps: this.timesteps,
                            numStreams: this.numStreams,
                            maxDepth: this.maxDepth,
                            maxChildren: this.maxChildren,
                            numMerges: this.numMerges,
                            numSplits: this.numSplits,
                            numMoveAcross: this.numMoveAcross,
                            numMoveAlong: this.numMoveAlong,
                            numAdds: this.numAdds,
                            numDeletes: this.numDeletes,
                        });
                        this.draw();
                    },
                    draw: function() {
                        generator.generate();
                        // need individual objects
                        let data1 = transformViscousFormat(JSON.parse(JSON.stringify(generator.get())));
                        let data2 = transformViscousFormat(JSON.parse(JSON.stringify(generator.get())));
                        let data3 = transformViscousFormat(JSON.parse(JSON.stringify(generator.get())));

                        treemap.data(data1);
                        treemap.setProportion(0);
                        treemap.separationX(treemap.marginXFixed, 10);
                        treemap.splitRoot = true;
                        treemap.addSplitsBetweenTimepoints();

                        stream.data(data2);

                        secstream.data(data3);
                        secstream.setProportion(0.7);
                        secstream.separationX(secstream.marginXFixed, 6);
                        secstream.addSplitsBetweenTimepoints();
                    },
                    download: function() {
                        saveSvg(document.querySelector('#treemap > svg'), 'treemap');
                        saveSvg(document.querySelector('#stream > svg'), 'stream');
                        saveSvg(document.querySelector('#secstream > svg'), 'secstream');
                        saveJson(generator.get(), 'data');
                    },
                    streamResize(...args) {
                        stream.resize();
                    },
                    treemapResize(...args) {
                        treemap.resize();
                    },
                    secstreamResize(...args) {
                        secstream.resize();
                    }
                }
            });

            treemap = d3.SecStream(document.querySelector('#treemap'));
            stream = d3.SecStream(document.querySelector('#stream'));
            secstream = d3.SecStream(document.querySelector('#secstream'));
            document.querySelector('#generate').click();
        });

    </script>
</body>
</html>