<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>SecStreams</title>
	
	<link type="text/css" rel="stylesheet" href="style.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="SecStream.css" media="screen"/>
    
    <!-- libraries-->
    <script type="text/javascript" src="libs/vue.js"></script>
	<script type="text/javascript" src="libs/d3_5.7.0.js"></script>
	
	<!-- modules -->
    <script type="text/javascript" src="SecStream.js"></script>
	
    <!-- general -->
	<script type="text/javascript" src="functions.js"></script>
	<script type="text/javascript" src="examples.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body>
    <div id="app">
        <div class="controls">
            <div>
                <label>Chart width</label>
                <input type="range" v-model="size" min="0" max="1920" />
            </div>

            <div>
                <span><b>Separation Y</b></span>
                <br>
                <input type="radio" id="sepYfixed" value="Fixed" selected v-model="separationY">
                <label for="sepYfixed">Fixed</label>
                <br>
                <input type="radio" id="sepYpercentage" value="Percentage" v-model="separationY">
                <label for="sepYpercentage">Percentage</label>
                <br>
                <input type="radio" id="sepYhierarchy" value="Hierarchical" v-model="separationY">
                <label for="sepYhierarchy">Hierarchical</label>
                <br>
                <input type="radio" id="sepYhierarchyReverse" value="HierarchicalReverse" v-model="separationY">
                <label for="sepYhierarchyReverse">Hierarchical Reverse</label>
                <br>
                <label>Value: {{ separationYValue }}</label>
                <br>
                <input type="range" v-model="separationYValue" step= "0.1" min="0" max="100" />
            </div>
            <hr>
            <div>
                <label><b>Tree/Time</b>: {{ proportion }}</label>
                <br>
                <input type="range" v-model="proportion" step= "0.01" min="0" max="1" />
            </div>
            <hr>
            <div>
                <span><b>Separation X</b></span>
                <br>
                <input type="radio" id="sepXfixed" value="Fixed" selected v-model="separationX">
                <label for="sepXfixed">Fixed</label>
                <br>
                <input type="radio" id="sepXhierarchy" value="Hierarchical" v-model="separationX">
                <label for="sepXhierarchy">Hierarchical</label>
                <br>
                <input type="radio" id="sepXhierarchyReverse" value="HierarchicalReverse" v-model="separationX">
                <label for="sepXhierarchyReverse">Hierarchical Reverse</label>
                <br>
                <label>Value: {{ separationXValue }}</label>
                <br>
                <input type="range" v-model="separationXValue" step= "0.1" min="0" max="100" />
            </div>
            <hr>
            <div>
                <label><b>Threshold:</b> {{ sizeThreshold }}%</label>
                <br>
                <input type="range" v-model="sizeThreshold" step= "0.1" min="0" max="5" />
            </div>
            <hr>
            <div>
                <label><b>Drop Shadow 1:</b></label>
                <br>
                <label>dx: {{ filters[0].dx }} </label>
                <br>
                <input type="range" v-model="filters[0].dx" step= "0.1" min="0" max="5" />
                <br>
                <label>dy: {{ filters[0].dy }} </label>
                <br>
                <input type="range" v-model="filters[0].dy" step= "0.1" min="0" max="5" />
                <br>
                <label>stdDeviation: {{ filters[0].stdDeviation }} </label>
                <br>
                <input type="range" v-model="filters[0].stdDeviation" step= "0.2" min="0" max="20" />
            </div>

        <!--
            <div>
                <label>Stroke color</label>
                <input type="color" v-model="settings.bgColor" />
            </div>
            
            <div>
                <label>Search…</label>
                <input type="text" v-model="search" />
            </div>
            
            <button v-on:click="add">Add node</button>
             
            <div>
                Selected: {{ selected }}
            </div>
        -->
        </div>

        <div id="wrapper" v-bind:style="{width: settings.width + 'px', height: settings.height + 'px', backgroundColor: settings.bgColor}"></div>
    </div>
</body>
</html>