html, body{
	background-color: #222222;
	font-family: monospace;
	height: 100%;
	overflow: hidden;
}

*{
  margin: 0;
  padding: 0;
  list-style-type:none;
}

#app {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

#wrapper {
	/*height: 100%;*/
	flex: 1 1 auto;
	overflow: hidden;
}

.controls {
	top: 16px; 
	left: 16px;
	background: #f8f8f8;
	flex: 0 0 165px;
	overflow: auto;
	padding: 0.5rem;
}

.controls > * + * {
	margin-top: 1rem;
}